:root {
  --white: #eee;
  --light-blue: #a9d6e5;
  --dark-sky-blue: #89c2d9;
  --maximum-blue: #61a5c2;
  --blue-green: #468faf;
  --celadon-blue: #2c7da0;
  --sapphire-blue: #2a6f97;
  --usafa-blue: #014f86;
  --indigo-dye: #01497c;
  --dark-indigo-dye: #013a63;
  --prussian-blue: #012a4a;
}

.App {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  color: var(--prussian-blue);
}

.main {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: var(--prussian-blue);
  color: var(--white);
  max-width: 100%;
}

.footer span {
  text-decoration: underline;
}

.ingredientsList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.ingredientContainer {
  min-width: 300px;
  width: 300px;
  border: 1px var(--prussian-blue) solid;
  background-color: var(--light-blue);
}

.ingredient {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.ingredientName {
  margin: 5px 0;
  text-transform: uppercase;
}

.ingredientIcon {
  width: 20%;
}

.header {
  display: flex;
  justify-content: center;
}

.counter {
  margin: 0 10px;
}

.button {
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background: var(--usafa-blue);
  color: white;
  border-radius: 10px;
}

.button:disabled {
  background-color: var(--blue-green);
}

.totalCaffeineContainer {
  display: flex;
  justify-content: center;
  background-color: var(--light-blue);
  width: 300px;
  margin: 10px auto;
  border: 1px var(--prussian-blue) solid;
}

.addIngredient {
  border: 1px var(--prussian-blue) solid;
  width: 60%;
  min-width: 300px;
  margin: 10px auto;
  background-color: var(--light-blue);
}

.addIngredientForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 10px;
}

.addIngredientForm input {
  height: 30px;
  font-size: 16px;
  padding: 15px 10px;
  border-radius: 10px;
  border: none;
}

input:focus {
  outline: none !important;
  border: 1px solid var(--prussian-blue);
  box-shadow: 0 0 10px var(--light-blue);
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.largeButton {
  margin: 10px auto;
  width: 300px;
  padding: 15px 10px;
}

table {
  border-collapse: collapse;
  margin-bottom: 10px;
}

th,
td {
  border: 2px solid var(--prussian-blue);
  padding: 5px 15px;
}

td {
  background-color: var(--light-blue);
}

th {
  background-color: var(--dark-indigo-dye);
  color: var(--white);
}
