:root {
  --white: #eee;
  --light-blue: #a9d6e5;
  --dark-sky-blue: #89c2d9;
  --maximum-blue: #61a5c2;
  --blue-green: #468faf;
  --celadon-blue: #2c7da0;
  --sapphire-blue: #2a6f97;
  --usafa-blue: #014f86;
  --indigo-dye: #01497c;
  --dark-indigo-dye: #013a63;
  --prussian-blue: #012a4a;
}

.App {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
}

.footer {
  display: flex;
  justify-content: center;
  background-color: var(--prussian-blue);
  color: var(--white);
}

.footer span {
  text-decoration: underline;
}

.ingredientsList {
  display: flex;
  justify-content: center;
  list-style: none;
}

.ingredientContainer {
  width: 12%;
  margin-right: 10px;
  border: 2px var(--prussian-blue) solid;
  border-radius: 100px;
  background-color: var(--light-blue);
  cursor: pointer;
}

.ingredientContainer:hover {
  background-color: var(--dark-sky-blue);
}

.ingredient {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

.ingredientName {
  margin: 5px 0 0 0;
  text-transform: uppercase;
}

.ingredientIcon {
  width: 20%;
}

.header {
  display: flex;
  justify-content: center;
}
